PyQt5==5.15.9      # Библиотека для создания графического интерфейса
psutil==5.9.5      # Библиотека для мониторинга системных ресурсов (CPU, память, диски)
GPUtil==1.4.0      # Для мониторинга GPU
wmi==1.5.1         # Для получения информации о железе в Windows
